body {
	background-color: #000;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color: #FFF;
}
#filter {
	float: right;
	width: 24%;
	font-size: 25px;
}
ul {
	list-style: none;
	padding-left: 0px;
	text-align: center;
}
li {
	font-size: 20px;
	margin-bottom: 10px;
	cursor: pointer;
}
li:hover {
	background-color: #2a2a2a;
}
#map {
    width: 75%;
    height: 650px;
    margin-right: 10px;
    float: left;
}
#content {
	width: 150px;
	color: black;
	text-align: center;
}